.container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "side   main"
    "footer footer";
  grid-template-columns: 256px 1fr;
  grid-template-rows: 66px auto 33px;
  min-height: 100vh;
}
.header {
  grid-area: header;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header header {
  width: 100%;
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(80, 80, 253);
  color: rgb(255, 255, 255);
}

.header nav {
  background-color: #a9c8e8;
  align-items: center;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  gap: 50px
}

.header nav ul li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: rgb(46, 46, 247);
}

.header header h1 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
.side {
  grid-area: side;
  background-color: orange;
  padding: 10px;
  align-content: center;
}
.main {
  grid-area: main;
  background-color: lightgreen;
  padding: 10px;
  align-content: center;
}
.footer {
  grid-area: footer;
  background-color: burlywood;
  padding: 10px;
  align-content: center;
}
